[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hi-dateinfer = "==0.4.6"
dateparser = "==1.1.8"
typing-extensions = "*"
pyyaml = "==6.0.1"
shortuuid = "==1.0.11"

[dev-packages]

[requires]
python_version = "3.10"
